* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}


body{
 
}
/* Inicio de Header */
.header {
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E30613;
    position: fixed;
    

}

.img-logo {
    display: flex;
    align-items: center;
}

.imagen-logo {
    margin-left: 18px;
    width: 157px;
}

header i {

    color: rgb(240, 248, 255);
}

.contenido {
    display: flex;
    align-items: center;


}

.categoria {
    color: white;

}

.icon-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;


}

.search {
    display: flex;
    align-items: center;
    position: relative;

}

.search-input {
    display: flex;
    width: 550px;
    height: 36px;
    border-radius: 140px;
    font-size: 15px;
    border: none;
    cursor: pointer;



}

.buttom-search {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    background: #D52B1E;
    cursor: pointer;



}

.buttom-search .fa-magnifying-glass {
    color: #f5f1f1;
}

nav {
   


}

.lista {
    display: flex;
   

}

.items {
    display: flex;
    justify-content: center;
    align-items: center;


}

.items i {
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.icon-txt {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    
}

ul{
    display: flex;
}



ul li {
    display: flex;
    padding: 16px 10px;
}

ul li a {
    text-decoration: none;
    color: aliceblue;

}


/*  Section Principal  */
.slider {
    display: flex;
    width: 100%;
    padding-top: 87px;
    /* height: 80%; */

}

.sliders {
    display: flex;
    justify-content: center;



}

.sliders li {
    display: flex;
    list-style: none;

}

.slider li img {
    width: 100%;
}


/* Card Productos Ofertas */

.conteiner-card {
    display: flex;
    width: 100%;
    height: 50vh;
    gap: 10px;
    justify-content: center;
    align-items: center;


}

.section-card {
    display: flex;
    justify-content: center;




}

.cards {

    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.imagen img {
    width: 100%;
    height: 200px;
    border-radius: 60%;

}

.imagen img:hover {
    box-shadow: 2px 2px 25px 0px #2724243f;
}



.card-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
}

.card-title {
    font-size: 1.3rem;
}

.card-descripcion {
    font-size: 1rem;
}

/* Section About informativa */

.section-about {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: #ffffff;

}

.container-about {
    width: 100%;
    height: 80vh;
    display: flex;
   justify-content: center;
}


.about .about-title {
    display: flex;
    justify-content: center;
   flex-direction: column; 
   align-items: center;
    color: #656564;
    gap: 20px;
}

.parrafo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parrafo-info {
    font-size: 20px;
}



/* Segunda Section Informativa  */


.container-card-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
   margin-top: 34px;
   
}

.container-card{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    padding: 20px;
    gap: 15px;
    
}
.card-info {
     display: flex;
    align-items: center;
    gap: 10px;
} 
.card-txt-info {
    width: 250px;
    height: 100px; 
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 16px;
     box-shadow: 2px 2px 25px 0px #656564;;


}


.card-title-info {
display: flex;
font-size: 35px;
color: #E30613;

}
.card-descripcion-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

/* Section Adicional  */
.section-adiconal {
    display: flex;
   
    

}
.container-adicional {
    width: 100%;
    height: 80vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #ffffff;
   


}
.box-adic {
    width: 84%;
    height: 39vh;
    display: flex;
    justify-content: center;
    background-color: #E30613;
    border-radius: 27px;
}
.adic-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.text-title  {
    font-size: 28px;
    margin: 28px 0px 0px;
   color: #ffffff;

}
.text-parrafo {
    font-size: 24px;
   color: #ffffff;
}
.text-buttom {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 11.97px 28.67;
    width:70%;
    border-radius: 5px;
   
   
}

.text-buttom .btn-adic{
     font-size: 16px;
      border: none;
      background: #ffffff;
      cursor: pointer;
      color: #D52B1E;
      font-weight: 600;
      
   
}


/* ----------------------footer------------------ */

.footer {
    background-color: #656564;
   
   padding: 80px 0;
}
.container-footer {
    max-width: 1200px;
    margin:0 auto;
    
    
   
}
.footer-row ul{
    
  display: flex;
 flex-wrap: wrap;
  
}
.footer-link {
    width: 25%;
    padding: 0 15px;
}
.footer-link h4{
   font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px ;
    display: inline-block;
 }
 .footer-link ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #f5f1f1;
    display: block;
    margin-bottom: 15px;

 }