* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

/* Inicio de Header */
.header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E30613;
    position: fixed;


}

.img-logo {
    display: flex;
    align-items: center;
}

.imagen-logo {
    margin-left: 18px;
    width: 157px;
}

header i {

    color: rgb(240, 248, 255);
}

.contenido {
    display: flex;
    align-items: center;


}

.categoria {
    color: white;

}

.icon-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;


}

.search {
    display: flex;
    align-items: center;
    position: relative;

}

.search-input {
    display: flex;
    width: 550px;
    height: 36px;
    border-radius: 140px;
    font-size: 15px;
    border: none;
    cursor: pointer;



}

.buttom-search {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    background: #D52B1E;
    cursor: pointer;



}

.buttom-search .fa-magnifying-glass {
    color: #f5f1f1;
}

.lista {
    display: flex;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-txt {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

ul {
    display: flex;
}

ul li {
    display: flex;
    padding: 16px 10px;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
}




/* -----------------------Formulario------------------------- */

section.formulario {
   display: flex;
}

.container-formulario {
    width: 100%;
    height: 80vh;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-right: 20px;  
  padding-left: 30px;
   
}

.form {
     display: flex;
    justify-content: center;
}

.title-form {
    color: #E30613;
    text-align: center;
}

.box-input {
     width: 50%; 
    height: 50%;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background:url(../img/carrito.avif) no-repeat center/cover;
    padding-left: 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

.container-input {
    background-color: #fbfbfba1; 
    width: 60%; 
    height: 60px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #d52a1e69;
}
div .container-input {
    display: flex;
    justify-content: center;
   align-items: center;
   gap: 10px;
 

}

 #buttomEnviar{
    height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  background-color: #D52B1E; 
  border-color:#D52B1E; 
  border-style: solid; 
  border-radius: 10px;  
  width: 400px;   
  cursor: pointer;
 }


/* ----------------------footer------------------ */

.footer {
    width: 100%;
    height: 90%;
    background-color: #f5f5f5;
    padding: 80px 0;
}

.container-footer {
    width: 80%;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;

}

.footer-link {
    width: 25%;
    padding: 0 15px;
}

.footer-link ul {
    flex-direction: column;
}

.footer-link h4 {
    font-size: 20px;
    color: #5f5f5f;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #707070;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-link ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #b4aeae;
    display: block;
    margin-bottom: 15px;

}

.footer-link ul li a:hover {
    color: #9c9999;
    padding-left: 6px;
}

.social-link i {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #656564;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
}

.derechos-reservados {
    color: #fafafa;
    background-color: #b4aeae;
    padding: 15px 10px;
    text-align: center;

}

small {
    font-size: 17px;
}