* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}



/* Inicio de Header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E30613;



}

.img-logo {
    display: flex;
    align-items: center;
}

.imagen-logo {
    margin-left: 18px;
    width: 157px;
}

header i {

    color: rgb(240, 248, 255);
}

.contenido {
    display: flex;
    align-items: center;


}

.categoria {
    color: white;

}

.icon-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;


}

.search {
    display: flex;
    align-items: center;
    position: relative;

}

.search-input {
    display: flex;
    width: 550px;
    height: 36px;
    border-radius: 140px;
    font-size: 15px;
    border: none;

}

.buttom-search {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    background: #D52B1E;
    cursor: pointer;
}

.buttom-search .fa-magnifying-glass {
    color: #f5f1f1;
}




.items i {
    display: flex;
    justify-content: center;
    align-items: center;


}

.icon-txt {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;


}

ul {
    display: flex;

}

ul li {
    display: flex;
    padding: 16px 10px;



}

ul li a {
    text-decoration: none;
    color: aliceblue;

}

/* -------------Titulo de los productos---------------------- */

.container-txt {
    width: 100%;
    padding: 10px 15px;
}

.box-title {
    padding: 10px;
    margin: 5px 10px;
}

.txt-title {
    font-size: 30px;
    color: #D52B1E;
}

.txt-parrafo {
    margin-left: 16px;
    font-size: 19px;
    color: #726b6b;

}


/* --------------------------CARDS DE PRODUCTOS------------------------------- */
.section-productos {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.container-producto {
    display: flex;
}

.container-producto:hover {
    box-shadow: 2px 2px 25px 0px #2724243f;
    border-radius: 26px;
}

.card-producto {
    width: 240px;
    height: 395px;
    border-radius: 26px;
    box-shadow: 2px 2px 25px 0px #2724243f;
}

.txt-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.title-card {
    color: #c2c0c0;

}

.nombreProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #726b6b;


}

.precioProducto {
    color: #5f5f5f;
    font-weight: 600;
}

.img-producto {
    border-radius: 26px;
    width: 220px;
    height: 250px;

}

.input-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

input#cantidadProducto0,
#cantidadProducto1,
#cantidadProducto2,
#cantidadProducto3,
#cantidadProducto4,
#cantidadProducto5,
#cantidadProducto6,
#cantidadProducto7,
#cantidadProducto8,
#cantidadProducto9,
#cantidadProducto10 {
    width: 50px;
    text-align: center;
}

.btn-agregar {
    border: none;
    font-size: 15px;
    width: 190px;
    height: 36px;
    border-radius: 40px;
    background-color: #D52B1E;
    color: #e2dfdf;
    cursor: pointer;
}


.carrito {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    text-align: center;
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    background-color: #ece8e8;
    width: 100%;
    height: 100%;
}

.txt-carrito {
    padding: 10px;
    font-size: 20px;
    color: #D52B1E;
}

hr {
    height: 1px;
    background-color: black;
}

.listCarrito {
    display: flex;
    justify-content: center;
    background-color: #ece8e8;
    font-size: 19px;
    font-weight: 600;
    color: #D52B1E;
}



/* ----------Estilos dede JS---------------------- */
.productos-lista {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-size: 20;

}

.carrito-item {
    font-size: 20px;
    color: #D52B1E;
}


.total-compra {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: #d33c3c;
}

.container-newslette {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    gap: 20px;
    background-color: #f5f5f5;
}

.txt-newslette {
    display: flex;
    align-items: center;
}

.txt-newslette h4 {
    color: #E30613;

}

.input-newslette {
    display: flex;
    position: relative;
    align-items: center;
}

.email {
    width: 400px;
    height: 36px;
    border-radius: 70px;
    font-size: 16px;
    border-style: solid;
    text-align: start;
    border-width: 1px;
    border-color: #D52B1E;


}

.suscribirme {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 70px;
    background-color: #E30613;
    color: white;
    position: absolute;
    right: 1px;
}



/* ----------------------footer------------------ */

.footer {
    width: 100%;
    height: 90%;
    background-color:white;
    padding: 80px 0;
}

.container-footer {
    width: 80%;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;

}

.imgLogo {
    width: 120px;
}

h3 {
    color: #E30613;
}

.p-logoDIA {
    color: #b4aeae;
    font-size: 13px;
}

.footer-link {
    width: 20%;
    padding: 0 15px;
}

.footer-link ul {
    flex-direction: column;
}

.footer-link h4 {
    font-size: 20px;
    color: #5f5f5f;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #707070;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-link ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #b4aeae;
    display: block;
    margin-bottom: 15px;

}

.footer-link ul li a:hover {
    color: #9c9999;
    padding-left: 6px;
}

.social-link i {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #656564;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
}

.derechos-reservados {
    color: #D52B1E;
    background-color: #f5f5f5;
    padding: 15px 10px;
    text-align: center;
    font-weight: 600;

}

small {
    font-size: 17px;
}