* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}



/* Inicio de Header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E30613;
    
    

}

.img-logo {
    display: flex;
    align-items: center;
}

.imagen-logo {
    margin-left: 18px;
    width: 157px;
}

header i {

    color: rgb(240, 248, 255);
}

.contenido {
    display: flex;
    align-items: center;


}

.categoria {
    color: white;

}

.icon-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.search {
    display: flex;
    align-items: center;
    position: relative;

}

.search-input {
    display: flex;
    width: 550px;
    height: 36px;
    border-radius: 140px;
    font-size: 15px;
    border: none;

}

.buttom-search {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    background: #D52B1E;
}

.buttom-search .fa-magnifying-glass {
    color: #f5f1f1;
}




.items i {
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.icon-txt {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
   
    
}

ul{
    display: flex;
 
}

ul li {
    display: flex;
    padding: 16px 10px;
    


}

ul li a {
    text-decoration: none;
    color: aliceblue;

}

/* --------------------------CARDS DE PRODUCTOS------------------------------- */
.section-productos{
   width: 100%;
    padding-top: 10px; 
}
.container-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}
.container-producto1 {
    display: flex;
  

    
}
.card-producto{
    width: 220px;
    height: 350px;
    box-shadow: 2px 2px 25px 0px #2724243f;
  
    
    
}

.txt-producto{
  display: flex;
  flex-direction: column;
   justify-content: center;
   align-items: center; 

   
}
.title-card{
    color: #c2c0c0;
   
}
.p-card{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #726b6b;
   

}
.img-producto {
   
   width: 220px;
   height: 250px;
   
}
.input-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}